.dailyTracker .dailyContainer{
    max-width: 800px;
    margin: 0 auto;
}

.dailyTracker .day{
    border: solid lightgray;
    padding: 15px;
    margin-bottom: 100px;
}

.dailyTracker .dayLabel{
    font-family: 'Trebuchet MS';
    margin-bottom: 50px;
}

.dailyTracker .adder{
    text-align: left;
}

.dailyTracker .adder label{
    font-size: 0.8em;
    font-weight: bold;
}

.dailyTracker .adder .addBtn{
    font-size: 20px;
}

@media screen and (min-width: 600px){
    .dailyTracker .adder label{
        font-size: 1.0em;
        font-weight: normal;
    }
}